@use "../utils/" as u;

.contact__overlay {
    height: 100dvh;
    position: fixed;
    inset: 0;
    width: 100%;
    z-index: 99;
    background-color: hsla(0, 0%, 10%, 0.8);
    display: none;
    cursor: pointer;

    &.show {
        display: block;
    }
}

.contact {
    height: 100%;
    width: u.rem(400);
    position: fixed;
    top: 0;
    right: -400px;
    background-color: var(--terciary-bg-color);
    color: var(--primary-text-color);
    padding-block: u.rem(40);
    padding-inline: u.rem(40);
    display: flex;
    flex-direction: column;
    transition: right 200ms ease-in-out;
    cursor: default;

    &.open {
        right: 0;
    }

    &__close {
        display: inline-block;
        width: u.rem(32);
        background-color: transparent;
        color: var(--primary-text-color);
        border: none;
        margin-inline-start: auto;
        margin-block-end: u.rem(40);
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: u.rem(24);

        &--label {
            display: flex;
            flex-direction: column;
            gap: u.rem(8);
            color: var(--primary-text-color);
            font-size: u.rem(18);
        }

        &--input {
            height: u.rem(40);
            border-radius: u.rem(4);
            border: none;
            background-color: var(--white-200);
        }

        &--submit {
            height: u.rem(40);
            border-radius: u.rem(4);
            color: var(--white-200);
            border: 1px solid var(--border);
            background-color: var(--primary);
        }
    }
}
