@use "../utils/" as u;

.contact__button {
    display: flex;
    position: absolute;
    top: 40px;
    right: 40px;
    padding-inline: u.rem(20);
    padding-block: u.rem(15);
    border-radius: u.rem(5);
    border: 1px solid var(--border);
    background-color: var(--primary-button-bg-color);
    color: var(--secondary-text-color);
}
