@use "../utils/" as u;

.nav {
    width: 100%;
    &__list {
        display: flex;
        flex-direction: column;
        gap: u.rem(24);
        font-size: u.rem(24);
        color: var(--secondary-text-color);

        &--item {
            width: 100%;
            display: flex;
            justify-content: center;
            line-height: 100%;
            letter-spacing: u.rem(0.8);
            padding: u.rem(20);

            &:hover {
                background-color: var(--terciary-bg-color);
                border-radius: u.rem(8);
                color: var(--primary-text-color-hover);
            }

            &.active {
                background-color: var(--terciary-bg-color);
                border-radius: u.rem(8);
            }

            &:focus-visible {
                border-radius: u.rem(8);
            }
        }
    }
}
