@use "../utils/" as u;

.sidebar {
    min-height: 100%;
    width: u.rem(300);
    padding-inline: u.rem(40);
    padding-block: u.rem(40);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);

    &__theme {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: u.rem(12);
        font-size: u.rem(18);

        &--image {
            width: u.rem(180);
            border-radius: 50%;
        }
    }

    &__bullet {
        font-size: u.rem(24);
    }

    &__social {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: u.rem(18);

        &--item {
            display: flex;
            align-items: center;
        }
    }
}
