@use "../utils/" as u;

$toast-width: u.rem(350);

.toast__container {
    position: fixed;
    width: $toast-width;
    height: u.rem(200);
    top: u.rem(20);
    left: calc(50% - ($toast-width / 2));
    border: none;
    border-radius: u.rem(20);
    padding-inline: u.rem(20);
    padding-block: u.rem(20);
    z-index: 999;

    &.success {
        background-color: var(--success);
    }

    &.failure {
        background-color: var(--danger);
    }

    &.warning {
        background-color: var(--warning);
    }

    &--close {
        display: block;
        margin-inline-start: auto;
        background-color: transparent;
        border: none;
    }
}

.toast {
    display: flex;
    flex-direction: column;
    gap: u.rem(16);
    padding-inline: u.rem(20);
    color: var(--primary-text-color);

    &__header {
        display: flex;
        align-items: center;
        gap: u.rem(8);

        &--status {
            text-transform: capitalize;
            font-size: u.rem(24);
            font-weight: 700;
            letter-spacing: u.rem(1);
        }
    }

    &__message {
        font-size: u.rem(18);
        line-height: u.rem(24);
        letter-spacing: u.rem(0.8);
    }
}
