:root {
    --rich-black: hsl(211, 53%, 11%);
    --oxford-blue: hsl(219, 37%, 17%);
    --delft-blue: hsl(228, 90%, 47%);
    --yinmn-blue: hsl(212, 29%, 36%);
    --silver-lake-blue: hsl(214, 23%, 56%);
    --platinum: hsl(75, 6%, 89%);
    --platinum-white: hsl(75, 6%, 100%);
    --auburn: hsl(0, 59%, 41%);
    --shamrock: hsl(156, 100%, 31%);
    --gold: hsl(43, 74%, 45%);

    --primary-bg-color: var(--platinum);
    --secondary-bg-color: var(--silver-lake-blue);
    --terciary-bg-color: var(--yinmn-blue);
    --overlay-bg-color: hsla(211, 53%, 11%, 0.7);

    --primary-text-color: var(--rich-black);
    --secondary-text-color: var(--platinum-white);

    --primary-border-color: var(--oxford-blue);

    --focus-color: var(--delft-blue);

    --primary-button-bg-color: var(--yinmn-blue);

    --success: var(--shamrock);
    --danger: var(--auburn);
    --warning: var(--gold);
}

.darkmode {
    --primary-bg-color: var(--oxford-blue);
    --secondary-bg-color: var(--rich-black);
    --terciary-bg-color: var(--silver-lake-blue);

    --primary-text-color: var(--platinum);

    --primary-border-color: var(--yinmn-blue);

    --primary-button-bg-color: var(--silver-lake-blue);
}
