:root {
    --ghost-white: hsla(240, 100%, 99%, 1);
    --periwinkle: hsla(257, 100%, 93%, 1);
    --yinmn-blue: hsla(224, 24%, 37%, 1);
    --delft-blue: hsla(228, 46%, 28%, 1);
    --space-cadet: hsla(227, 42%, 20%, 1);

    --red-ncs: hsla(354, 64%, 43%, 1);

    --primary-bg-color: var(--ghost-white);
    --secondary-bg-color: var(--yinmn-blue);
    --terciary-bg-color: var(--delft-blue);

    --primary-text-color: var(--space-cadet);
    --secondary-text-color: var(--ghost-white);

    --primary-text-color-hover: var(--ghost-white);

    --primary-border-color: var(--delft-blue);

    --secondary-focus-color: var(--periwinkle);

    --primary-button-bg-color: var(--delft-blue);
}

.darkmode {
    --primary-bg-color: var(--delft-blue);
    --secondary-bg-color: var(--space-cadet);
    --terciary-bg-color: var(--periwinkle);

    --primary-text-color: var(--ghost-white);
    --primary-text-color-hover: var(--space-cadet);

    --primary-border-color: var(--yinmn-blue);

    --primary-button-bg-color: var(--space-cadet);
}
