:root {
    // Background
    --white-100: hsl(211 100% 100%);
    --white-200: hsl(211 100% 96%);
    --white-300: hsl(211 100% 91%);

    --black-700: hsl(211 100% 7%);
    --black-800: hsl(211 100% 9%);
    --black-900: hsl(211 100% 0%);
    // Text
    --text: hsl(222 100% 7%);
    --text-muted: hsl(210 54% 29%);
    // Unsure
    --highlight: hsl(211 100% 100%);
    // Borders
    --border: hsl(210 34% 52%);
    --border-muted: hsl(211 47% 64%);
    // Buttons
    --primary: hsl(208 74% 28%);
    --secondary: hsl(38 100% 17%);
    // Alerts
    --danger: hsl(8 32% 41%);
    --warning: hsl(51 46% 30%);
    --success: hsl(150 37% 33%);
    --info: hsl(217 34% 43%);

    --primary-bg-color: var(--white-200);
    --secondary-bg-color: var(--white-100);
    --terciary-bg-color: var(--white-300);

    --primary-text-color: var(--text);

    --primary-border-color: var(--border);
}

// .darkmode {
//     --primary-bg-color: var(--black-800);
//     --terciary-bg-color: var(--black-700);
//     --primary-text-color: var(--white-200);
// }
