@use "../utils/" as u;

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: var(--primary-bg-color);
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.app__container {
    height: 100dvh;
    width: 100vw;
    max-width: u.rem(1400);
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    display: flex;
    position: relative;
}

.page__container {
    width: 100%;
    padding-inline: u.rem(40);
    padding-block: u.rem(40);
}
